@import url('https://fonts.googleapis.com/css?family=Princess+Sofia');
@import url('https://fonts.googleapis.com/css?family=Bad+Script');

h1{
    color:#EEBA30;
    text-align: center;
    font-family: 'Princess Sofia', cursive;
    font-size:75px;
}

body{
    background-image: url("http://img12.deviantart.net/b923/i/2015/254/4/7/harry_potter_wallpaper__gryffindor_pinstripes_by_theladyavatar-d6l7u6e.jpg");
}

#homeMenu{
    height:400px;
    width: 400px;
    margin-left: 480px;
        
}
input[type=text] {
    width: 120px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 25%;
}
#s{
    float: right;
}

button{
    float:right; 
}


#Carousel {
    margin-bottom: 10px;
    height: 580px;

}

#n{
 float:right;   
}

h5{
    color: white; 
    font-size: large;
    
}

#imgCarousel, #textCarousel{
    display:none;
}

/*Line from here on starts with the CSS for "History of Hogwarts" page!*/

#historyHeader {
    color: #EEBA30;
    text-align: center;
    font-family: 'Princess Sofia', cursive;
    
}
img{
    height:370px; 
}

.row1 {
    float: left;
}

#row2 {
    float: left;
}

#beginnings {
    color: #EEBA30;
    font-family: "Princess Sofia", cursive;
    text-align: center;
    margin-top: 1px;
}

#hogwarts {
    width: 600px;
    height: 550px;
    margin-top: 90px;
}


#beginningsDesc {
    color: #EEBA30;
    font-family: "Bad Script";
    font-size: x-large;
    text-align: center;
    margin-top: -0px;
    background-color: #740001;
    border-color: #AE0001;
    border-radius: 20px;
    border-style: solid;
    border-width: 6px;
}

#chamber {
    color: #EEBA30;
    font-family: "Princess Sofia", cursive;
    text-align: center;
    margin-top: -25px;
}

#chamberDesc {
    color: #EEBA30;
    font-family: "Bad Script";
    font-size: x-large;
    text-align: center;
    margin-top: 0px;
    background-color: #740001;
    border-color: #AE0001;
    border-radius: 20px;
    border-style: solid;
    border-width: 6px;
}

#chamimg {
    width: 550px;
    height: 500px;
    margin-top: 50px;
    margin-left: 45px;
}

#modernTimes {
    color: #EEBA30;
    font-family: "Princess Sofia", cursive;
    text-align: center;
}

#modernDesc {
    margin-top: -5px;
    margin-left: 20px;
}

#harry {
    width: 600px;
    height: 520px;
    margin-left: 40px;
    margin-top: 100px;
}

#me{
    color:white;
}

#traitsDesc{
    color:#EEBA30;
    font-family: "Bad Script";
    font-size: x-large;
    text-align: center;
    line-height: 250%;
    background-color: #740001;
    border-color: #AE0001;
    border-radius: 20px;
    border-style: solid;
    border-width: 6px;
    
}

#traitsHeader{
    color:#EEBA30;
    font-family: "Princess Sofia", cursive;
    font-size:50px;
    
}

#slythTraitsHeader {
    color: #EEBA30;
    font-family: "Princess Sofia", cursive;
    font-size:50px;
    
}

#slythTraitsDesc {
    color: #EEBA30;
    font-family: "Bad Script";
    font-size: x-large;
    text-align: center;
    line-height: 250%;
    background-color: #740001;
    border-color: #AE0001;
    border-radius: 20px;
    border-style: solid;
    border-width: 6px;
}

#housecupDesc{
     color:#EEBA30;
     font-family: "Bad Script";
    font-size: x-large;
    text-align: center;
    margin-left: 30px;
    line-height: 35px;
    background-color: #740001;
    border-color: #AE0001;
    border-radius: 20px;
    border-style: solid;
    border-width: 6px;
}

.games{
    color:#EEBA30;
    font-family: "Bad Script";
    font-size: x-large;
    margin-top: -20px;
    text-align: center;
    margin-left: 30px;
}
.info{
     color:#EEBA30;
     font-family: "Bad Script";
    font-size: x-large;
    text-align: center;
    margin-left: 30px;
    background-color: #740001;
    border-color: #AE0001;
    border-radius: 20px;
    border-style: solid;
    border-width: 6px;
    margin-top: -926px;
}
#high{
    margin-top: 70px;
}

.captions{
    font-size: x-large;
    margin-top: -20px;
    text-align: center;
    margin-left: 30px;
    color: white;
    text-shadow: 1px 1px black;
}

#dumbledore {
    width: 100%;
    height: 580px;
}

#minerva {
    width: 100%;
    height: 580px;
}

#harryImg {
    width: 100%;
    height: 580px;
}

#hermione {
    width: 100%;
    height: 580px;
}

#ron {
    width: 100%;
    height: 580px;
}

#hagrid {
    width: 100%;
    height: 580px;
}

#godric {
    width: 100%;
    height: 580px;
}

#nick {
    width: 100%;
    height: 580px;
}

form{
    color:#eeba30;
}
button{
    color:#eeba30;
}

.game-info{
    color:#EEBA30;
     font-family: "Bad Script";
    font-size: x-large;
    margin-top: 100px;
    text-align: center;
    margin-left: 30px;
    background-color: #740001;
    border-color: #AE0001;
    border-radius: 20px;
    border-style: solid;
    border-width: 6px;
    
}

#raveTraitsDesc{
    color:#EEBA30;
     font-family: "Bad Script";
    font-size: x-large;
    margin-top: 6px;
    text-align: center;
    margin-left: 30px;
    background-color: #740001;
    border-color: #AE0001;
    border-radius: 20px;
    border-style: solid;
    border-width: 6px;
    line-height: 250%;
}

#huffTraitsDesc{
    color: #EEBA30;
    font-family: "Bad Script";
    font-size: x-large;
    margin-top: -3px;
    text-align: center;
    margin-left: 30px;
    background-color: #740001;
    border-color: #AE0001;
    border-radius: 20px;
    border-style: solid;
    border-width: 6px;
    line-height: 250%;
}

#huffTraitsHeader{
    color:#EEBA30;
    font-family: "Princess Sofia", cursive;
    text-align: center;
    font-size:50px;
        
}

#see {
    background-color: #740001;
    border-color: #AE0001;
    border-radius: 20px;
    border-style: solid;
    border-width: 6px;
    width: 1350px;
    margin-left: 15px;
}

#about {
    color: #EEBA30;
    font-family: "Princess Sofia", cursive;
    text-align: left;
    margin-left: 20px;
}

#aboutDesc {
    color: #EEBA30;
    font-family: "Bad Script";
    text-align: left;
    margin-left: 40px;
    line-height: 200%;
    font-size: x-large;
}



.houseCupDesc3{
    color:#EEBA30;
    font-family: "Bad Script";
    font-size: x-large;
    margin-top: 190px;
    text-align: center;
    margin-left: 30px;
    background-color: #740001;
    border-color: #AE0001;
    border-radius: 20px;
    border-style: solid;
    border-width: 6px;
}

#hogwarts3{
    margin-left: 150px;
    
}

spam {
    font-style: inherit;
}

#games {
    width: 490px;
    font-size: 70px;
    margin-left: 410px;
    
}
#raveTraitsHeader{
    font-size:50px;
}

#hog {
    height: 500px;
    width: 650px;
}

#hogwarts2 {
    margin-top: 180px;
}

#raveTraitImg {
    margin-top: 60px;
}
#huffTraitImg {
    margin-top: 30px;
}

#games2 {
    margin-top: -80px;
}

#gamesImg {
    margin-left: 100px;
    height: 500px;
    width: 500px;
}

#gamesDesc {
    line-height: 200%;
    margin-top: -1020px;
}